.bg-img {
    /* The image used */
    background-image: url("residentimg/relogoo.jpg");

    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;

    /* Needed to position the navbar */
    position: relative;
}
.navigation{
    position: absolute;
    top: 0%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    z-index: 10;
    width: 100%;
}
.nav2{
    opacity: 0;
    transition: all ease-in-out 0.5s;
    pointer-events: none;
    transform: translateX(-200px);
}
.logo{
    background-color: darkred;
    width: 200px;
    color: white;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo:hover{
    background-color: red;
}
.div-container{
    width: 50px;
    cursor: pointer;
    margin-top: 10px;
}
.div-container div{
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background-color: aliceblue;
    margin-left: 10px;
    transition: all ease-in-out 0.5s;
}
.nav2show{
    opacity: 1;
    transform: translateX(0px);
    pointer-events: all;
}
.toggle .div1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .div2{
    opacity: 0;
}
.toggle .div3{
    transform: rotate(45deg) translate(-5px, -6px);
}